body
  box-sizing: border-box
  font-family: "Montserrat", sans-serif
  margin: 0
  padding: 0
  width: 100%
  overflow-x: hidden

*
  box-sizing: border-box
  margin: 0
  padding: 0

.inline-avoid
  break-inside: avoid

.container
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

@media not print
  .container
    margin-top: 2.5rem
    margin-bottom: 1.5rem

.line
  background-color: var(--main-color)
  height: .2rem
  width: 100%

.level-indicator
  display: block
  height: 0.5rem
  width: 6rem
  background-color: var(--accent-color)
  border-radius: 3rem
  position: relative

  &::after
    background-color: var(--main-color)
    display: block
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 0
    height: 100%
    border-radius: 3rem

  &--1::after
    width: calc(6rem / 3)

  &--2::after
    width: calc(6rem / 2)

  &--3::after
    width: 6rem
