.personalInfo
  display: flex
  align-items: center
  gap: 8rem
  height: 20rem
  margin-top: 3rem

  & .left
    height: 100%
    display: flex
    flex-direction: column
    gap: 0.5rem
    justify-content: center

  & .right > div:first-child
    margin-bottom: 1rem

  & .right.image
    height: 15rem
    width: auto
    border-radius: 0.5rem
