@use "variables.sass"
@use "general.sass"
@use "personal_info.sass"

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap")

.cvHeading
  background-color: var(--main-color)
  position: relative
  width: 100%

  &__title::before
    width: 100%
    content: ""
    display: block
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: -1

  &__title
    position: relative
    width: fit-content
    padding: 1rem 0 1rem 5rem

.section__title
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-evenly
  margin-bottom: 1rem
  gap: 1.5rem

  &-heading
    font-size: 1.8rem
    font-weight: bold
    letter-spacing: 2px

.knowledge__wrapper > div:not(:last-child)
  margin-bottom: .5rem

.knowledge__heading
  margin-bottom: 0.5rem
  margin-top: 0.8rem
  position: relative
  display: inline-block

  &::after
    content: ""
    width: 100%
    display: block
    height: 0.2rem
    background-color: var(--accent-color)
    position: absolute
    bottom: 0
    left: 0

  &--first
    margin-top: 0

.knowledge__points
  display: flex
  flex-direction: column

  &-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &-top h5
    font-weight: normal
    font-size: 16px

.knowledge__description
  padding: 0 0.5rem

  & h6
    display: inline-block
    font-size: 14px

  & small
    display: inline-block
    font-size: 14px

.dynamicData
  display: flex
  flex-direction: column
  margin-top: 2rem

.school__info
  display: flex
  align-items: center
  margin-left: 1rem

  & p:not(:last-child)
    margin-right: 1rem

  & p:not(:first-child)
    margin-left: 1rem

.school__heading
  margin: 0
  margin-bottom: 0.5rem
  font-weight: bold

.school__data
  margin-bottom: 2rem

.experience__info
  display: flex
  align-items: center
  margin-left: 1rem

  & p:not(:last-child)
    margin-right: 1rem

  & p:not(:first-child)
    margin-left: 1rem

.experience__heading
  margin: 0
  margin-bottom: 0.5rem
  font-weight: bold

.experience__data
  margin-bottom: 2rem

.hobbies
  margin-top: 1rem
  margin-bottom: 0.3rem

  &-content
    margin-left: 1rem
