<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Curriculum Vitae - Joel Mühlena</title>
</head>

<body>
  <!--Main container of content-->
  <div class="container">

    <div class="cvHeading">
      <h1 class="cvHeading__title">{{title}}</h1>
    </div>

    <!--upper side mostly static-->
    <div class="personalInfo">
      <div class="left">
        <div class="name">
          <h2>{{name}}</h2>
        </div>
        <div class="address">
          <p>
            {{#each address}}
            {{this}}
            {{#unless @last}}
            <br />
            {{/unless}}
            {{/each}}
          </p>
        </div>
        <div class="phone">
          {{phone}}
        </div>
        <div class="email">
          <p>{{email}}</p>
        </div>
        <div class="web">
          <a href="https://{{homepage}}">{{homepage}}</a>
        </div>
        <div class="birthDate">
          <p>{{displayDateLangFormatted birthDate lang}}</p>
        </div>
        <div class="birthPlace">
          <p>{{birthPlace}}</p>
        </div>
      </div>
      <div class="image right">
        <img alt="Joel Mühlena" src={{imageLink}} height="300" width="auto" />
      </div>
    </div>

    <!--bottom Side (dynamic)-->
    <div class="dynamicData">
      <!--Experience-->
      <div class="experience section">

        <div class="section__title">
          <div class="line line--pre"></div>
          <h3 class="section__title-heading">Experience</h3>
          <div class="line line--post"></div>
        </div>

        {{#each experience}}
        <div class="experience__data inline-avoid">
          <p class="experience__heading">{{companyName}} / {{companyLocation}}</p>
          <div class="experience__info">
            <p class="experience__title">{{title}}</p>&bull;
            <p class="experience__date">{{displayDateFromUTC from}} &nbsp; {{#unless current}}&mdash; &nbsp;
              {{displayDateFromUTC to}} {{/unless}}
            </p>&bull;
            <p class="experience__type">{{experienceType type}}</p>
          </div>
          <!--p-- class="experience__description">{{description}}</!--p-->
        </div>
        {{/each}}
      </div>

      <!--School Data-->
      <div class="school section">
        <div class="section__title">
          <div class="line line--pre"></div>
          <h3 class="section__title-heading">School</h3>
          <div class="line line--post"></div>
        </div>

        {{#each education}}
        <div class="school__data inline-avoid">
          <p class="school__heading">{{schoolName}} / {{description}}</p>
          <div class="school__info">
            <p class="school__location">{{schoolLocation}}</p>&bull;
            <p class="school__date">{{from}} &nbsp; &mdash; &nbsp; {{#if current}} now {{else}} {{to}}
              {{/if}}
            </p>&bull;
            <p>{{graduateState graduated}}</p>
          </div>
        </div>
        {{/each}}
      </div>

      <!--Knowledge-->
      <div class="knowledge section">
        <div class="section__title">
          <div class="line line--pre"></div>
          <h3 class="section__title-heading">Knowledge</h3>
          <div class="line line--post"></div>
        </div>

        {{#each skills}}
        <div class="knowledge__wrapper inline-avoid">
          <h4 class="knowledge__heading {{#if @first}}knowledge__heading--first{{/if}}">{{skillGroupName}}</h4>
          {{#each skills}}
          <div class="knowledge__points">
            <div class="knowledge__points-top">
              <h5>{{skillName}}</h5>
              {{#if level}}
              <div class="level-indicator level-indicator--{{level}}"></div>
              {{/if}}
            </div>
            {{#if description}}
            <div class="knowledge__description">
              <h6>Description: </h6>
              <small>{{description}}</small>
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
        {{/each}}

      </div>

      <!--other stuff-->
      <div class="otherStuff section inline-avoid">
        <div class="section__title">
          <div class="line line--pre"></div>
          <h3 class="section__title-heading">Other</h3>
          <div class="line line--post"></div>
        </div>

        <ul class="otherStuff__points">
          {{#each other}}
          <li class="otherStuff__points--entry">{{this}}</li>
          {{/each}}
        </ul>

        <h4 class="hobbies">Hobbies</h4>
        <p class="hobbies-content">
          {{#each hobby}}
          {{this}} {{#unless @last}},{{/unless}}
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</body>

</html>