@tailwind base
@tailwind components
@tailwind utilities

// TODO improve import location
@import url(https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css)

// html
//   font-size: 62.5%

body
  overflow-x: hidden

.link-hover
  position: relative

  &::before, &::after
    content: ""
    display: inline-block
    position: absolute
    width: 0
    bottom: -.5rem
    height: 5px
    background-color: white
    transition: all .3s
    background: #f5af19

  &::before
    left: 50%
    border-top-right-radius: .5rem
    border-bottom-right-radius: .5rem

  &::after
    right: 50%
    border-top-left-radius: .5rem
    border-bottom-left-radius: .5rem

  &:hover
    &::before
      width: 50%

    &::after
      width: 50%
